<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p>Yelp Camp</p>
            <div class="list-group">
                <li class="list-group-item active">Info</li>
                <li class="list-group-item">Info</li>
                <li class="list-group-item">Info</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <image class="image-responsive" src="<%= campground["image"] %>"></image>          
                <div class="caption-full">
                    <h4 class="pull-right">9$ per night</h4>
                    <h4><a><%= campground["name"] %></a></h4>
                    <p><%= campground["description"] %></p>
                    <p>
                        <em>submitted by <%= campground.author.username %></em>
                    </p>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="pull-right">10 days ago</p>
                            <strong><p><%= comment.author.username %></p></strong>
                            <p>
                                <%= comment.text %>
                            </p>
                        </div>
                    </div>
                    
                    
                <% }); %>
            </div>
        </div>
    </div>
</div>



<% include ../partials/footer %>